body {
   background-color: #33CCFF;
   color: white;
   text-align: center;
   font-family: Arial;
}

#clock {
   font-size: 144px;
}

.title {
   font-size: 32px;
   color: yellow;
}

.cold {
   background-color: #95A5A6;
}

.chilly {
   background-color: #1ABC9C;
}

.nice {
   background-color: #2980B9;
}

.warm {
   background-color: #E67E22;
}

.hot {
   background-color: #E74C3C;
}